@model ForumW24_V2.Models.Message

@{
    ViewData["Title"] = "Edit";
}

<h1>Modifier</h1>

<h4>Message</h4>
<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="FkSujId" id="FkSujId" asp-for="FkSujId" value="@ViewData["FkSujId"]"/>
            <input type="hidden" asp-for="MesId"/>
            <input type="hidden" asp-for="FkUser"/>
            <input type="hidden" checked asp-for="MesActif" />
            <div class="form-group">
                Sujet : @ViewData["SujTitre"]
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="MesTexte" class="control-label">Texte</label>
                    <textarea asp-for="MesTexte" class="form-control"></textarea>
                    <span asp-validation-for="MesTexte" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="MesDate" class="control-label">Date</label>
                    <input type="text" asp-for="MesDate" class="form-control" readonly />
                    <span asp-validation-for="MesDate" class="text-danger"></span>
                </div>
             </div>
        </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary m-3" />
            </div>
        </div>
</form>

<div>
    <a  asp-action="Index" asp-route-id="@Model.FkSujId">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
